<component name="ArtifactManager">
  <artifact type="war" name="spring-springmvc:war">
    <output-path>$PROJECT_DIR$/spring-springmvc/target</output-path>
    <properties id="maven-jee-properties">
      <options>
        <module>spring-springmvc</module>
        <packaging>war</packaging>
      </options>
    </properties>
    <root id="archive" name="spring-springmvc-1.0.0.war">
      <element id="artifact" artifact-name="spring-springmvc:war exploded" />
    </root>
  </artifact>
</component>