<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.tom.springcloud.mapper.DeptMapper">
    <!--/**
     * 查询所有部门
     * @return
     */
    List<Dept> findAllDept();-->
    <select id="findAllDept" resultType="com.tom.springcloud.entities">
        select * from dept
    </select>
</mapper>