<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">


<mapper namespace="com.tom.ssm.mapper.admin.AdminMapper">

    <!--根据username和password查询UserEntity-->
    <!--UserEntity getUserEntityByUsernameAndPassword(UserEntity userEntity);-->
    <select id="getUserEntityByUsernameAndPassword" resultType="com.tom.ssm.entity.UserEntity">
        select user_id,username,password,status from user where username= #{username} and password = #{password}
    </select>

</mapper>